<h3><%= @game.title %></h3>
<h6>Current Round: <%= @game.current_round_number %></h6>

<% @enrollments.each do |enrollment| %>
<%= form_for [@game, enrollment, TeamsSelection.new], url: game_setup_games_enrollment_teams_selections_path(@game, enrollment) do |f| %>

    <%= f.hidden_field :games_enrollment_id, value: enrollment.id %>

    <h4>Select a team for your entry:</h4>

    <% @fixtures.sort_by(&:starting_at).each do |fixture| %>
      <div class="fixture">
        <div class="team home-team" data-team-id="<%= fixture.home_team.id %>">
          <%= image_tag(fixture.home_team.image_path, class: 'teams-logos') %>
          <div class="team-name">
            <%= fixture.home_team_name %>
          </div>
          <%= f.radio_button :team_id, fixture.home_team.id %>
        </div>
        <div class="vs">vs</div>
        <div class="team away-team" data-team-id="<%= fixture.away_team.id %>">
          <%= image_tag(fixture.away_team.image_path, class: 'teams-logos') %>
          <div class="team-name">
            <%= fixture.away_team_name %>
          </div>
          <%= f.radio_button :team_id, fixture.away_team.id %>
        </div>
        <%= fixture.starting_at.strftime('%A %d %B %Y %H:%M') %>
      </div>
    <% end %>

    <%= f.submit 'Submit'  %>
  <% end %>
<% end %>
