<h1>All Games</h1>

<%= form_tag(games_path, method: :get, class: 'form-inline mb-3') do %>
  <%= select_tag(:competition_id, options_for_select(@competitions, params[:competition_id]), {prompt: 'All competitions', class: 'form-select mr-3'}) %>
  <%= select_tag(:stake, options_for_select([['All stakes', ''], ['£10', 10], ['£20', 20], ['£30', 30], ['£40', 40], ['£50', 50]], params[:stake]), {prompt: 'All stakes', class: 'form-select mr-3'}) %>
  <%= submit_tag('Filter', class: 'btn btn-primary') %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Competition</th>
      <th>Stake £ (per entry)</th>
      <th>Deadline for entry</th>
      <th>Total Pot</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.stake %></td>
        <td><%= game.deadline&.strftime('%A %d %B %Y %H:%M') || '' %></td>
        <td>
          <%= form_tag game_games_enrollments_path(game), method: :post do %>
            <%= select_tag :num_entries, options_for_select([1, 2, 3]) %>
            <%= button_tag 'Join game', class: 'btn btn-primary', name: nil %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_game_setup_path(game) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
